.contact tr{
  height: 7rem;
}
.contact th{
  width: 150px;
  text-align: right;
  padding-right:10px;
}  
.contact .text{
  width: 480px;
}
.input_form:hover{
  opacity: 0.5;
}
.submit input{
  color: aliceblue;
  background-color: #008B8B;
  padding: 10px 10px;  
  text-align: center; 
}
.submit{
  text-align: center;
}
footer{
  position: fixed;
}